.about-company {
  max-width: 100%;
  margin-bottom: 47px;
}

.about-company h1,
.about-company h2 {
  padding-right: 85px;

  @include _1600 {
    font-size: 30px;
  }

  @include _1280 {
    font-size: 28px;
  }

  @include _1080 {
    font-size: 24px;
    margin-bottom: 30px;
  }

  @include _960 {
    font-size: 21px;
  }

  @include _767 {
    font-size: 18px;
    text-align: center;
    padding-right: 0;
  }

  @include _580 {
    font-size: 16px;
  }

  @include _480 {
    font-size: 14px;
  }
}
