.list-contracts {

}

.list-contracts__caption {
  display: flex;
  align-items: center;
  border-bottom: 5px solid #005c58;
  padding-bottom: 15px;

  @include _767 {
    width: 100%;
    justify-content: space-between;
  }

  @include _480 {
    flex-direction: column;
  }
}

.list-contracts__caption a {
  display: block;
  width: 265px;
  height: 75px;

  @include _767 {
    width: 53px;
  }

  @include _480 {
    margin-bottom: 20px;
  }
}

.list-contracts__caption img {
  margin-left: 70px;

  @include _767 {
    margin-left: 0;
  }
}

.list-contracts__caption p {
  max-width: 968px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
  margin-left: 97px;

  @include _1400 {
    font-size: 30px;
  }

  @include _1280 {
    font-size: 28px;
  }

  @include _960 {
    font-size: 28px;
    text-align: center;
    padding-right: 0;
  }

  @include _767 {
    font-size: 24px;
    margin-left: auto;
  }

  @include _580 {
    font-size: 20px;
  }

  @include _480 {
    font-size: 18px;
  }
}

