.side-block {
  width: 560px;
  padding-right: 70px;
  margin-left: auto;

  @include _1600 {
    justify-self: flex-end;
    padding-right: 0px;
  }

  @include _1280 {
    width: 70%;
  }

  @include _1080 {
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
  }

  @include _767 {
    width: 70%;
  }
}

.side-block h2 {
  display: inline-block;
  font-weight: 300;
  color: var(--headline);
  font-size: 40px;
  line-height: 80px;
  margin-right: 10px;
  margin-bottom: 0;
  padding-right: 0;

  @include _1600 {
    font-size: 30px;
    line-height: 50px;
  }

  @include _1280 {
    font-size: 28px;
  }

  @include _1080 {
    font-size: 24px;
  }

  @include _960 {
    font-size: 21px;
  }

  @include _767 {
    font-size: 18px;
    text-align: center;
    padding-right: 0;
  }

  @include _580 {
    font-size: 16px;
  }

  @include _480 {
    font-size: 14px;
    margin-bottom: 15px;
  }

  @include _767 {
    font-size: 30px;
    width: 100%;
    margin: 0 auto;
  }

  @include _480 {
    font-size: 20px;
  }
}

.side-block span {
  font-size: 230px;
  letter-spacing: -10px;

  @include _1600 {
    font-size: 200px;
  }

  @include _1400 {
    font-size: 175px;
  }

  @include _1280 {
    font-size: 150px;
    letter-spacing: -7px;
  }

  @include _1150 {
    font-size: 130px;
  }

  @include _1080 {
    letter-spacing: -5px;
    margin-bottom: 10px;
  }

  @include _767 {
    font-size: 80px;
  }

  @include _480 {
    font-size: 60px;
  }
}

.side-block h3 {
  font-family: var(--title-family);
  font-size: var(--title-size);
  font-weight: var(--title-weight);
  text-transform: uppercase;
  color: var(--back-contact);
  text-align: left;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  @include _1600 {
    font-size: 30px;
  }

  @include _1280 {
    font-size: 28px;
    margin-bottom: 30px;
  }

  @include _1080 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  @include _960 {
    font-size: 21px;
  }

  @include _767 {
    font-size: 18px;
    text-align: center;
    padding-right: 0;
  }

  @include _580 {
    font-size: 16px;
  }

  @include _480 {
    font-size: 14px;
    margin-bottom: 15px;
  }
}

.side-block p {
  position: relative;
  font-family: var(--title-family);
  font-size: 20px;
  line-height: 25px;
  color: var(--back-contact);
  margin: 0;
  padding-left: 50px;

  @include _1600 {
    font-size: 16px;
    line-height: 21px;
  }

  @include _1400 {
    font-size: 14px;
    line-height: 18px;
  }

  @include _767 {
    font-size: 12px;
    line-height: 14px;
  }

  @include _580 {
    padding-left: 30px;
  }
}

.side-block p::before {
  position: absolute;
  content: "";
  width: 10px;
  min-height: 105%;
  background-color: var(--headline);
  top: 0;
  left: 0;

  @include _767 {
    width: 7px;
  }

  @include _480 {
    width: 5px;
  }
}

.side-block a {
  color: var(--back-contact);
  text-decoration: none;
}
